<!DOCTYPE html>
<html lang="pt">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Montaga&display=swap" rel="stylesheet"/>
    <link href="{% static 'exchange_rates/style/index.css' %}" rel="stylesheet"/>
    <title>{{ info.latest_rate.base_currency }} -> {{ info.latest_rate.target_currency }}</title>
</head>
<body>
<div class="DesktopHome">
    <div class="MainFrame">
        <img class="BackgroundImage" src="{% static 'exchange_rates/resources/background_image.jpg' %}"/>
        <div class="CurrencyExchangeChecker">Currency Exchange Checkers</div>
        <div class="ExchangesListFrame">
            {% if info.latest_rates %}
            {% for rate in info.latest_rates %}
            <a class="ExchangeButton"
               href="{% url 'exchange_rates:exchange_rate' rate.base_currency rate.target_currency 1.0 %}">
                {{ rate.base_currency }} => {{ rate.target_currency }}
            </a>
            {% endfor %}
            {% else %}
            <div class="LatestExchangeUpdate">
                No exchanges checked yet.
            </div>
            {% endif %}
        </div>
        <div class="LatestExchangeFrame">
            {% if info.latest_rates %}
            <div class="LatestExchangeTable">
                <div class="LatestExchangeDiv">
                    <label class="CurrencyDiv">
                        {{ info.latest_rate.base_currency }}
                    </label>
                    <form class="CurrencyDiv"
                          action="{% url 'exchange_rates:calc_exchange' info.latest_rate.base_currency info.latest_rate.target_currency info.value %}"
                          method="post">
                        {% csrf_token %}
                        <input type="text" name="{{ info.latest_rate.base_currency }}"
                               value="${{ info.value|floatformat:2 }}">
                    </form>
                </div>
                <div class="LatestExchangeDiv">
                    <label class="CurrencyDiv">
                        {{ info.latest_rate.target_currency }}
                    </label>
                    <div class="CurrencyDiv">
                        $ {{ info.result|floatformat:2 }}
                    </div>
                </div>
            </div>
            {% else %}
            <div class="LatestExchangeUpdate">
                No exchanges checked yet.
            </div>
            {% endif %}
            <div class="MenuDiv">
                <a class="MenuButton" href="{% url 'exchange_rates:index'%}">Home</a>
                {% if info.latest_rates %}
                <a class="MenuButton"
                   href="{% url 'exchange_rates:historical_data' info.latest_rate.base_currency info.latest_rate.target_currency 0 0%}">Check
                    history</a>
                {% endif %}
            </div>
            {% if info.latest_rates %}
            <div class="LatestExchangeUpdate">
                Última atualização: {{ info.latest_rate.timestamp }}
            </div>
            {% endif %}
        </div>
    </div>
</div>
</body>
</html>