<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>History: {{ rates.0.base_currency }} -> {{ rates.0.target_currency }}</title>
</head>
<body>
<div>
    <ul>
        {% for rate in rates %}
        <li>
            <p>
                {{ rate.timestamp }}: {{ rate.rate|floatformat:2 }}
            </p>
        </li>
        {% endfor %}
    </ul>
</div>
<div>
    <a href="{% url 'exchange_rates:index'%}">Home</a>
    <a href="{% url 'exchange_rates:latest_rate' rates.0.base_currency rates.0.target_currency%}">Check
        latest</a>
</div>
</body>
</html>