<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Montaga&display=swap" rel="stylesheet" />
    <link href="{% static 'exchange_rates/style/index.css' %}" rel="stylesheet" />
    <title>Exchanges</title>
</head>
<body>
<div class="DesktopHome">
  <div class="MainFrame">
    <img class="BackgroundImage" src="{% static 'exchange_rates/resources/background_image.jpg' %}" />
    <div class="CurrencyExchangeChecker">Currency Exchange Checkers</div>
    <div class="ExchangesListFrame">
        {% if latest_rates %}
        {% for rate in latest_rates %}
        <a class="ExchangeButton" href="{% url 'exchange_rates:exchange_rate' rate.base_currency rate.target_currency 1%}">
            {{ rate.base_currency }} => {{ rate.target_currency }}
        </a>
        {% endfor %}
        {% else %}
        <div class="LatestExchangeUpdate">
            No exchanges checked yet.
        </div>
        {% endif %}
    </div>
  </div>
</div>
</body>
</html>